<br>
<div style="margin-left: 450px;">
	<button  type="button" class="btn btn-primary"  id = "viewTimeTable" (click)= "addCentralizedSlots()">Add Centralized Slots</button>&nbsp;&nbsp;
	<button  type="button" class="btn btn-primary"  id = "viewTimeTable" (click)= "viewTimeTableClick()">View Time Tables</button>&nbsp;&nbsp;
	<button  type="button" class="btn btn-primary"  id = "generateTimeTable" (click)= "generateTimeTableClick()">Generate Time Table</button>
</div>

<br>
<div [hidden] = "selectedSlots">
	<br>
	<div style="margin-left: 50px;">
		<div>
			<button type="button" class="btn btn-primary" id = "a1" (click)= "a1Click()">A1</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "a2" (click)= "a2Click()">A2</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "a3" (click)= "a3Click()">A3</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "a4" (click)= "a4Click()">A4</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "a5" (click)= "a5Click()">A5</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "a6" (click)= "a6Click()">A6</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "a7" (click)= "a7Click()">A7</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "a8" (click)= "a8Click()">A8</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "a9" (click)= "a9Click()">A9</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "a10" (click)= "a10Click()">A10</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "a11" (click)= "a11Click()">A11</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "a12" (click)= "a12Click()">A12</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "a13" (click)= "a13Click()">A13</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "a14" (click)= "a14Click()">A14</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "a15" (click)= "a15Click()">A15</button>&nbsp;&nbsp;

		</div>
		<br><br>
		<div>
			<button type="button" class="btn btn-primary" id = "b1" (click)= "b1Click()">B1</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "b2" (click)= "b2Click()">B2</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "b3" (click)= "b3Click()">B3</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "b4" (click)= "b4Click()">B4</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "b5" (click)= "b5Click()">B5</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "b6" (click)= "b6Click()">B6</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "b7" (click)= "b7Click()">B7</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "b8" (click)= "b8Click()">B8</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "b9" (click)= "b9Click()">B9</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "b10" (click)= "b10Click()">B10</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "b11" (click)= "b11Click()">B11</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "b12" (click)= "b12Click()">B12</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "b13" (click)= "b13Click()">B13</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "b14" (click)= "b14Click()">B14</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "b15" (click)= "b15Click()">B15</button>&nbsp;&nbsp;
		</div>
		<br><br>
		<div>
			<button type="button" class="btn btn-primary" id = "s1" (click)= "s1Click()">2nd year Section A</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "s2" (click)= "s2Click()">2nd year Section B</button>&nbsp;&nbsp;
			
			<button type="button" class="btn btn-primary" id = "t1" (click)= "t1Click()">3rd year Section A</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "t2" (click)= "t2Click()">3rd year Section B</button>&nbsp;&nbsp;

			<button type="button" class="btn btn-primary" id = "f1" (click)= "f1Click()">4th year Section A</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id = "f2" (click)= "f2Click()">4th year Section B</button>&nbsp;&nbsp;
		</div>
		<br><br>
		<div>
			<button type="button" class="btn btn-primary" id = "phd1" (click)= "phd1Click()">PHD</button>
		</div>
		

	</div>
</div>
<div [hidden] = "selectedView">

	<div *ngFor="let faculty of facultyResponseList">
		<div>
			&nbsp;&nbsp;&nbsp;<b>{{faculty.name}}</b>
		</div>
		<br>
		<thead>
		<tr>
		  <th>&nbsp;&nbsp;&nbsp;&nbsp;Day&nbsp;&nbsp;&nbsp;&nbsp;</th>	
		  <th>8-9&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>9-10&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>10-11&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>11-12&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>12-1&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>1-2&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>2-3&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>3-4&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>4-5&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>5-6&nbsp;&nbsp;&nbsp;&nbsp;</th>

		</tr>
		</thead>

		<tbody>
	<!-- 		row 1 -->
		<tr>
			  <td>
			  	<div style="width: 120px;">
					&nbsp;&nbsp;&nbsp;<b><i>Monday</i></b>
				</div>
			  </td>
			  <td>
			  	<div style="width: 75px;">
			  		{{faculty.timeTable.timetable[0][0]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][1]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][2]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][3]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][4]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][5]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][6]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][7]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][8]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][9]}}
				</div>
			  </td>	  
		</tr>

	<!-- 	row 2 -->
	<tr>
			  <td>
			  	<div style="width: 120px;">
					&nbsp;&nbsp;&nbsp;<b><i>Tuesday</i></b>
				</div>
			  </td>
			  <td>
			  	<div style="width: 75px;">
			  		{{faculty.timeTable.timetable[1][0]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][1]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][2]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][3]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][4]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][5]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][6]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][7]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][8]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][9]}}
				</div>
			  </td>	  
		</tr>

	<!-- 	row 3 -->
	<tr>
			  <td>
			  	<div style="width: 120px;">
					&nbsp;&nbsp;&nbsp;<b><i>Wednesday</i></b>
				</div>
			  </td>
			  <td>
			  	<div style="width: 75px;">
			  		{{faculty.timeTable.timetable[2][0]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][1]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][2]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][3]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][4]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][5]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][6]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][7]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][8]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][9]}}
				</div>
			  </td>	  
		</tr>
	<!-- row 4 -->
	<tr>
			  <td>
			  	<div style="width: 120px;">
					&nbsp;&nbsp;&nbsp;<b><i>Thursday</i></b>
				</div>
			  </td>
			  <td>
			  	<div style="width: 75px;">
			  		{{faculty.timeTable.timetable[3][0]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][1]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][2]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][3]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][4]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][5]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][6]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][7]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][8]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][9]}}
				</div>
			  </td>	  
		</tr>

	<!-- row 5 -->
	<tr>
			  <td>
			  	<div style="width: 120px;">
					&nbsp;&nbsp;&nbsp;<b><i>Friday</i></b>
				</div>
			  </td>
			  <td>
			  	<div style="width: 75px;">
			  		{{faculty.timeTable.timetable[4][0]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][1]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][2]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][3]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][4]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][5]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][6]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][7]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][8]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][9]}}
				</div>
			  </td>	  
		</tr>

		</tbody>
		<br><br>
		&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary" id = "updateTimeTable" (click)= "UpdateTimeTableClick(faculty.facultyid)">Update TimeTable</button><br>
		<br><br><br>
	</div> 
</div>
<div [hidden] = "selectedGenerate">
	<div *ngFor="let faculty of generatedfacultyResponseList">
		<div>
			&nbsp;&nbsp;&nbsp;<b>{{faculty.name}}</b>
		</div>
		<br>
		<thead>
		<tr>
		  <th>&nbsp;&nbsp;&nbsp;&nbsp;Day&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>	
		  <th>8-9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>9-10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>10-11&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>11-12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>12-1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>1-2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>2-3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>3-4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>4-5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		  <th>5-6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>

		</tr>
		</thead>

		<tbody>
	<!-- 		row 1 -->
		<tr>
			  <td>
			  	<div style="width: 120px;">
					&nbsp;&nbsp;&nbsp;<b><i>Monday</i></b>
				</div>
			  </td>
			  <td>
			  	<div style="width: 75px;">
			  		{{faculty.timeTable.timetable[0][0]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][1]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][2]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][3]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][4]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][5]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][6]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][7]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][8]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[0][9]}}
				</div>
			  </td>	  
		</tr>

	<!-- 	row 2 -->
	<tr>
			  <td>
			  	<div style="width: 120px;">
					&nbsp;&nbsp;&nbsp;<b><i>Tuesday</i></b>
				</div>
			  </td>
			  <td>
			  	<div style="width: 75px;">
			  		{{faculty.timeTable.timetable[1][0]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][1]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][2]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][3]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][4]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][5]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][6]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][7]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][8]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[1][9]}}
				</div>
			  </td>	  
		</tr>

	<!-- 	row 3 -->
	<tr>
			  <td>
			  	<div style="width: 120px;">
					&nbsp;&nbsp;&nbsp;<b><i>Wednesday</i></b>
				</div>
			  </td>
			  <td>
			  	<div style="width: 75px;">
			  		{{faculty.timeTable.timetable[2][0]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][1]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][2]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][3]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][4]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][5]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][6]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][7]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][8]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[2][9]}}
				</div>
			  </td>	  
		</tr>
	<!-- row 4 -->
	<tr>
			  <td>
			  	<div style="width: 120px;">
					&nbsp;&nbsp;&nbsp;<b><i>Thursday</i></b>
				</div>
			  </td>
			  <td>
			  	<div style="width: 75px;">
			  		{{faculty.timeTable.timetable[3][0]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][1]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][2]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][3]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][4]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][5]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][6]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][7]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][8]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[3][9]}}
				</div>
			  </td>	  
		</tr>

	<!-- row 5 -->
	<tr>
			  <td>
			  	<div style="width: 120px;">
					&nbsp;&nbsp;&nbsp;<b><i>Friday</i></b>
				</div>
			  </td>
			  <td>
			  	<div style="width: 75px;">
			  		{{faculty.timeTable.timetable[4][0]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][1]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][2]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][3]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][4]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][5]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][6]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][7]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][8]}}
				</div>
			  </td>

			  <td>
			  	<div style="width: 75px;">
	  				{{faculty.timeTable.timetable[4][9]}}
				</div>
			  </td>	  
		</tr>

		</tbody>
		<br><br>
	</div> 
</div>
