<p>
  timetable works!
</p>

<br>
<div>
	
	<thead>
	<tr>
	  <th>8-9</th>
	  <th>9-10</th>
	  <th>10-11</th>
	  <th>11-12</th>
	  <th>12-1</th>
	  <th>1-2</th>
	  <th>2-3</th>
	  <th>3-4</th>
	  <th>4-5</th>
	  <th>5-6</th>

	</tr>
	</thead>

	<tbody>
<!-- 		row 1 -->
	<tr>
		  <td>
		  	<div>
				<input type="checkbox" [(ngModel)]="val00">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val01">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val02">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val03">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val04">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val05">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val06">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val07">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val08">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val09">
			</div>
		  </td>	  
	</tr>

<!-- 	row 2 -->
<tr>
		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val10">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val11">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val12">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val13">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val14">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val15">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val16">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val17">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val18">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val19">
			</div>
		  </td>	  
	</tr>

<!-- 	row 3 -->
<tr>
		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val20">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val21">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val22">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val23">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val24">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val25">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val26">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val27">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val28">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val29">
			</div>
		  </td>	  
	</tr>
<!-- row 4 -->
<tr>
		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val30">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val31">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val32">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val33">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val34">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val35">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val36">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val37">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val38">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val39">
			</div>
		  </td>	  
	</tr>
<!-- row 5 -->
<tr>
		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val40">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val41">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val42">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val43">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val44">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val45">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val46">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val47">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val48">
			</div>
		  </td>

		  <td>
		  	<div>
  				<input type="checkbox" [(ngModel)]="val49">
			</div>
		  </td>	  
	</tr>
	</tbody>

</div>
<div>
	

<!-- 	<label>Value1:
    <input type="checkbox" [(ngModel)]="val">
  </label><br/> -->
<button id = "updateButton" (click)= "onUpdateClick()">Update</button>
</div>
