<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>

  	<h2>Sign In</h2>

    <label for="loginid"><b>Username   </b></label>
    <input type="text" [(ngModel)] = "loginid_signin" placeholder="Enter Username" name="loginid" required >
    <br>
    <br>
    <label for="password"><b>Password   </b></label>
    <input type="password" [(ngModel)] = "password_signin" placeholder="Enter Password" name="password" required >
    <br>
    <br>
    <button id = "loginbutton" (click)= "onLoginClick()">Login</button>
	
	<h2>Sign Up</h2>

    <label for="loginid"><b>Username   </b></label>
    <input type="text" [(ngModel)] = "loginid_signup" placeholder="Enter Username" name="loginid" required>
    <br>
    <br>
    <label for="password"><b>Password   </b></label>
    <input type="password" [(ngModel)] = "password_signup" placeholder="Enter Password" name="password" required>
    <br>
    <br>
    <button id = "signupbutton" (click)= "onSignUpClick()">Sign Up</button>
