<br><br>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<br><br>

<div style="margin-left: 400px; margin-right: 400px ">
    <ngb-accordion [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-1" title="Sign In">
        <ng-template ngbPanelContent>
            <label for="loginid"><b>Username&nbsp;&nbsp;&nbsp;</b></label>
            <input type="text" [(ngModel)] = "loginid_signin" placeholder="  Enter Username" name="loginid" required >
            <br>
            <br>
            <label for="password"><b>Password&nbsp;&nbsp;&nbsp;</b></label>
            <input type="password" [(ngModel)] = "password_signin" placeholder="  Enter Password" name="password" required >
            <br>
            <br>
            <button type="button" class="btn btn-primary" id = "loginbutton" (click)= "onLoginClick()">Login</button>
            
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2" title="Sign up">
        <ng-template ngbPanelContent>
            <label for="loginid"><b>Username&nbsp;&nbsp;&nbsp;</b></label>
            <input type="text" [(ngModel)] = "loginid_signup" placeholder="  Enter Username" name="loginid" required>
            <br>
            <br>
            <label for="password"><b>Password&nbsp;&nbsp;&nbsp;</b></label>
            <input type="password" [(ngModel)] = "password_signup" placeholder="  Enter Password" name="password" required>
            <br>
            <br>
            <button type="button" class="btn btn-primary" id = "signupbutton" (click)="onSignUpClick()">Sign Up</button>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
</div>
